.content{
    border: 5px solid gray;
    width: 300px;
    height: 500px;
}
.timer{
    border: 5px solid black;
}
.times{
    border: 5px solid gray;
    padding: auto;
    width: 300px;
    height: 300px;
}